NeoKolors.Tui/Schemas/Fonts/V2/NeoKolors.Font.Config.xsd

<!--                             -->
<!--  NeoKolors                  -->
<!--  Copyright (c) 2025 KryKom  -->
<!--                             -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nkc="https://raw.githubusercontent.com/KryKomDev/NeoKolors/refs/heads/main/NeoKolors.Tui/Schemas/Fonts/V1"
            xmlns:nk="https://raw.githubusercontent.com/KryKomDev/NeoKolors/refs/heads/main/NeoKolors.Tui/Schemas/Fonts/V1"
            targetNamespace="https://raw.githubusercontent.com/KryKomDev/NeoKolors/refs/heads/main/NeoKolors.Tui/Schemas/Fonts/V1"
            elementFormDefault="qualified">
    
    <xsd:include schemaLocation="NeoKolors.Font.Common.xsd"/>
    
    <xsd:element name="Font">
        <xsd:annotation>
            <xsd:documentation>The root element of the .nkfc NeoKolors Font Configuration file.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="Name" type="nk:Name">
                    <xsd:annotation>
                        <xsd:documentation>Defines the name of the font.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
<!--                <xsd:element name="MapPath" type="nk:MapPath">-->
<!--                    <xsd:annotation>-->
<!--                        <xsd:documentation>Points to the .nkfm Font MapPath file.</xsd:documentation>-->
<!--                    </xsd:annotation>-->
<!--                </xsd:element>-->
                
                <xsd:element name="Monospace" type="nk:Monospace" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Whether the font is monospace or not. Default is false.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <xsd:element name="LetterWidth" type="nk:LetterWidth" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Defines the width of a single letter if the font is monospaced.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <xsd:element name="LetterHeight" type="nk:LetterHeight" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Defines the height of a single letter if the font is monospaced.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <xsd:element name="Ligatures" type="nk:Ligatures" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Whether the font uses ligatures. Default is false.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <xsd:element name="Kerning" type="nk:Kerning" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Whether the font renderer should use kerning for this font. Default is true.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <xsd:element name="CharSpacing" type="nk:CharSpacing">
                    <xsd:annotation>
                        <xsd:documentation>Defines the spacing between individual characters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <xsd:element name="LineSpacing" type="nk:LineSpacing">
                    <xsd:annotation>
                        <xsd:documentation>Defines the spacing between lines.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <xsd:element name="WordSpacing" type="nk:WordSpacing">
                    <xsd:annotation>
                        <xsd:documentation>Defines the spacing between words (space character width). Ignored if the font is monospaced.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <xsd:element name="Global" type="nk:Global">
                    <xsd:annotation>
                        <xsd:documentation>Defines global properties that can be used as default in the font.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="Name">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:string">
                <xsd:pattern value="(\w|\.|_|-|\s)+"/>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    
<!--    <xsd:complexType name="MapPath">-->
<!--        <xsd:simpleContent>-->
<!--            <xsd:restriction base="xsd:anyURI"/>-->
<!--        </xsd:simpleContent>-->
<!--    </xsd:complexType>-->
    
    <xsd:complexType name="Monospace">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:boolean"/>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="Ligatures">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:boolean"/>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="Kerning">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:boolean"/>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="CharSpacing">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:int"/>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="LineSpacing">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:int"/>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="WordSpacing">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:int"/>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="LetterWidth">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:int"/>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="LetterHeight">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:int"/>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="Global">
        <xsd:all>
            <xsd:element name="Align" type="nkc:Align" minOccurs="0" default="top-center">
                <xsd:annotation>
                    <xsd:documentation>Defines how the compound characters are aligned. The value is 'top-center' by default.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="Mask" type="nkc:Mask" minOccurs="0" default="bckg">
                <xsd:annotation>
                    <xsd:documentation>Defines the masking strategy to differentiate the glyph from the background. The value is 'bckg' by default.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="AlignPointReplace" minOccurs="0" default="bckg">
                <xsd:annotation>
                    <xsd:documentation>Defines the strategy of replacing the alignment point in compound glyphs. The value is 'bckg' by default.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="AlignPoints" minOccurs="0" default="">
                <xsd:annotation>
                    <xsd:documentation>Defines the default align point characters, that will be used if not specified by a component glyph.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    
</xsd:schema>