NeoKolors.Tui/Schemas/Fonts/NeoKolors.Font.Map.xsd

<!--                             -->
<!--  NeoKolors                  -->
<!--  Copyright (c) 2025 KryKom  -->
<!--                             -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nkc="https://raw.githubusercontent.com/KryKomDev/NeoKolors/refs/heads/wip/NeoKolors.Tui/Schemas/Fonts/NeoKolors.Font.Common.xsd"
            xmlns:nk="https://raw.githubusercontent.com/KryKomDev/NeoKolors/refs/heads/wip/NeoKolors.Tui/Schemas/Fonts/NeoKolors.Font.Map.xsd"
            targetNamespace="https://raw.githubusercontent.com/KryKomDev/NeoKolors/refs/heads/wip/NeoKolors.Tui/Schemas/Fonts/NeoKolors.Font.Map.xsd"
            elementFormDefault="qualified">
    
    <xsd:element name="FontMap">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="Component" type="nk:Component"/>
                    <xsd:element name="Ligature" type="nk:Ligature"/>
                    <xsd:element name="Compound" type="nk:Compound"/>
                    <xsd:element name="AutoCompound" type="nk:AutoCompound"/>
                </xsd:choice>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Component -->
    
    <xsd:complexType name="Component">
        <xsd:annotation>
            <xsd:documentation>Defines a basic glyph.</xsd:documentation>
        </xsd:annotation>
        
        <xsd:all>
            <xsd:element name="AlignPointReplace" type="nk:AlignPointReplace" minOccurs="0" default="bckg">
                <xsd:annotation>
                    <xsd:documentation>Defines the strategy of replacing the alignment point in compound glyphs. The value is 'bckg' by default.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="Mask" type="nk:Mask" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Defines the masking strategy to differentiate the glyph from the background. The value is 'bckg' by default.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="Baseline" type="xsd:integer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Defines the offset from the baseline.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
        
        <xsd:attribute name="Symbol" use="required">
            <xsd:annotation>
                <xsd:documentation>Defines the symbol the glyph represents.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="nk:CharOrHex"/>
            </xsd:simpleType>
        </xsd:attribute>
        
        <xsd:attribute name="File" use="required">
            <xsd:annotation>
                <xsd:documentation>Defines the file the glyph is stored in.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:anyURI"/>
            </xsd:simpleType>
        </xsd:attribute>

        <xsd:attribute name="Id" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Defines the ID of the symbol. For some values it is generated automatically, if not supplied.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <!-- Ligature -->
    
    <xsd:complexType name="Ligature">
        <xsd:annotation>
            <xsd:documentation>Defines a glyph for a ligature.</xsd:documentation>
        </xsd:annotation>
        
        <xsd:all>
            <xsd:element name="AlignPointReplace" type="nk:AlignPointReplace" minOccurs="0" default="bckg">
                <xsd:annotation>
                    <xsd:documentation>Defines the strategy of replacing the alignment point in compound glyphs. The value is 'bckg' by default.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="Mask" type="nk:Mask" minOccurs="0" default="bckg">
                <xsd:annotation>
                    <xsd:documentation>Defines the masking strategy to differentiate the glyph from the background. The value is 'bckg' by default.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="Baseline" type="xsd:integer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Defines the offset from the baseline.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
        
        <xsd:attribute name="Symbol" use="required">
            <xsd:annotation>
                <xsd:documentation>Defines the symbol the glyph represents.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:attribute>

        <xsd:attribute name="File" use="required">
            <xsd:annotation>
                <xsd:documentation>Defines the file the glyph is stored in.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:anyURI"/>
            </xsd:simpleType>
        </xsd:attribute>

        <xsd:attribute name="Id" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Defines the ID of the symbol. For some values it is generated automatically, if not supplied.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <!-- Compound -->
    
    <xsd:complexType name="Compound">
        <xsd:annotation>
            <xsd:documentation>Defines a compound glyph.</xsd:documentation>
        </xsd:annotation>

        <xsd:all>
            <xsd:element name="Main">
                <xsd:annotation>
                    <xsd:documentation>The ID of the main glyph.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            
            <xsd:element name="Secondary">
                <xsd:annotation>
                    <xsd:documentation>The ID of the secondary glyph.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            
            <xsd:element name="Align" type="nk:Align">
                <xsd:annotation>
                    <xsd:documentation>Defines the alignment of the secondary glyph relatively to the main glyph.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>

        <xsd:attribute name="Symbol" use="required">
            <xsd:annotation>
                <xsd:documentation>Defines the symbol the glyph represents.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="nk:CharOrHex"/>
            </xsd:simpleType>
        </xsd:attribute>

        <xsd:attribute name="File" use="required">
            <xsd:annotation>
                <xsd:documentation>Defines the file the glyph is stored in.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:anyURI"/>
            </xsd:simpleType>
        </xsd:attribute>

        <xsd:attribute name="Id" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Defines the ID of the symbol. For some values it is generated automatically, if not supplied.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <!-- AutoCompound -->
    
    <xsd:complexType name="AutoCompound">
        <xsd:annotation>
            <xsd:documentation>Defines an automatically grouped compound glyph.</xsd:documentation>
        </xsd:annotation>

        <xsd:all>
            <xsd:element name="Mask" type="nk:Mask" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Defines the masking strategy to differentiate the glyph from the background. The value is 'bckg' by default.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="IsMain">
                <xsd:annotation>
                    <xsd:documentation>Defines whether this glyph is the main glyph in the compound.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:boolean"/>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element name="Align" type="nk:Align">
                <xsd:annotation>
                    <xsd:documentation>Defines the alignment of the secondary glyph relatively to the main glyph.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="Applicable">
                <xsd:annotation>
                    <xsd:documentation>Defines to what characters or groups of characters is this glyph applicable.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Chars" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string"/>
                            </xsd:simpleType>
                        </xsd:element>
                        
                        <xsd:element name="Group" minOccurs="0" maxOccurs="unbounded">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="vowels-upper"/>
                                    <xsd:enumeration value="vowels-lower"/>
                                    <xsd:enumeration value="vowels"/>
                                    <xsd:enumeration value="letters-upper"/>
                                    <xsd:enumeration value="letters-lower"/>
                                    <xsd:enumeration value="letters"/>
                                    <xsd:enumeration value="numbers"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>

        <xsd:attribute name="Symbol" use="required">
            <xsd:annotation>
                <xsd:documentation>Defines the symbol the glyph represents.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="nk:CharOrHex"/>
            </xsd:simpleType>
        </xsd:attribute>

        <xsd:attribute name="File" use="required">
            <xsd:annotation>
                <xsd:documentation>Defines the file the glyph is stored in.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:anyURI"/>
            </xsd:simpleType>
        </xsd:attribute>

        <xsd:attribute name="Id" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>Defines the ID of the symbol. For some values it is generated automatically, if not supplied.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="Align">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:string">
                <xsd:pattern value="^(top-left|top-center|top-right|center-left|center|center-right|bottom-left|bottom-center|bottom-right|custom,\S+)$"/>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="Mask">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:string">
                <xsd:pattern value="(bckg|forg|custom-bckg,\S|custom-forg,\S)"/>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="AlignPointReplace">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:string">
                <xsd:pattern value="(bckg|none|custom,\S)"/>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="CharOrHex">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="(\S|(\\x(\d|[a-f]|[A-F]){2}))"/>
        </xsd:restriction>
    </xsd:simpleType>
    
</xsd:schema>