NeoKolors.Tui/Schemas/NKFontHeader.xsd

<!--                             -->
<!--  NeoKolors                  -->
<!--  Copyright (c) 2025 KryKom  -->
<!--                             -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nk="https://raw.githubusercontent.com/KryKomDev/NeoKolors/refs/heads/main/NeoKolors.Tui/Schemas/NKFontHeader.xsd"
            targetNamespace="https://raw.githubusercontent.com/KryKomDev/NeoKolors/refs/heads/main/NeoKolors.Tui/Schemas/NKFontHeader.xsd"
            elementFormDefault="qualified">
    
    <!-- char font header -->
    
    <xsd:element name="NKCFont">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="Header" type="nk:Header"/>
                <xsd:element name="Dimensions" type="nk:Dimensions"/>
                <xsd:element name="GlyphConf" type="nk:GlyphConf"/>
                <xsd:element name="CharFontConf" type="nk:CharFontConf"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    
    
    <!-- image font header -->

    <xsd:element name="NKIFont">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="Header" type="nk:Header"/>
                <xsd:element name="Dimensions" type="nk:Dimensions"/>
                <xsd:element name="GlyphConf" type="nk:GlyphConf"/>
                <xsd:element name="ImgFontConf" type="nk:ImgFontConf"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    
    
    <!-- header -->
    
    <xsd:complexType name="Header">
        <xsd:all>
            <xsd:element name="Version">
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation>
                            Version of the font format in format "major.minor.patch.note"
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="([0-9])+\.([0-9])+\.([0-9])+(\.)*([A-Za-z0-9])*"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element name="FontName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Name of the font
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="FontPath" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Path to the actual font file
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    
    
    <!-- spacing -->
    
    <xsd:complexType name="Dimensions">
        <xsd:all>
            <xsd:element name="LetterSpacing" type="xsd:int"/>
            <xsd:element name="WordSpacing" type="xsd:int"/>
            <xsd:element name="LineSpacing" type="xsd:int"/>
            <xsd:element name="LineSize" type="xsd:int"/>
        </xsd:all>
    </xsd:complexType>
    
    
    <!-- glyph settings -->
    
    <xsd:complexType name="GlyphConf">
        <xsd:all>
            <xsd:element name="MissingGlyphMode" default="skip">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="char"/>
                        <xsd:enumeration value="glyph"/>
                        <xsd:enumeration value="skip"/>
                        <xsd:enumeration value="throw"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element name="MissingGlyphSubstitute" default="?">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            
            <xsd:element name="Ligatures" minOccurs="0" default="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    
    
    <!-- settings for character font glyph definitions -->
    
    <xsd:complexType name="CharFontConf">
        <xsd:all>
            <xsd:element name="GlyphDefStartMarker" type="xsd:string" default="[[["/>
            <xsd:element name="GlyphDefEndMarker" type="xsd:string" default="]]]"/>

            <xsd:element name="Overlap" default="overlap">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="transparent"/>
                        <xsd:enumeration value="overlap"/>
                        <xsd:enumeration value="mask"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element name="MaskCharacter" default=".">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    
    
    <!-- settings for image font glyph definitions -->
    
    <xsd:complexType name="ImgFontConf">
        <xsd:all>
            <xsd:element name="GlyphWidth">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="1"/>
                        <xsd:maxInclusive value="128"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            
            <xsd:element name="GlyphHeight">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="1"/>
                        <xsd:maxInclusive value="128"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            
            <xsd:element name="Mono">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:boolean"/>
                </xsd:simpleType>
            </xsd:element>
            
            <xsd:element name="Layout">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    
    <xsd:complexType name="a">
        <xsd:choice>
            <xsd:element name="a1a" type="xsd:int" maxOccurs="unbounded"/>
        </xsd:choice>
    </xsd:complexType>
    
</xsd:schema>