Src/Tui/Schemas/Fonts/V3/Font.Config.xsd

<!--                             -->
<!--  NeoKolors                  -->
<!--  Copyright (c) 2026 KryKom  -->
<!--                             -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nk="https://krykomdev.github.io/NeoKolors/Schemas/Fonts/v3/"
            targetNamespace="https://krykomdev.github.io/NeoKolors/Schemas/Fonts/v3/"
            elementFormDefault="qualified"
            attributeFormDefault="qualified">
    
    <xsd:include schemaLocation="Font.Common.xsd"/>
    
    <xsd:element name="FontConfig">
        <xsd:annotation>
            <xsd:documentation>The root element of the .nkfc NeoKolors Font Configuration file.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Name" type="nk:Name">
                    <xsd:annotation>
                        <xsd:documentation>Defines the name of the font.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="Author" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Defines the author of the font.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="LicenseType" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Defines the license type of the font.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="LicenseFile" type="xsd:string" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Defines the license file of the font.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="Ligatures" type="xsd:boolean" default="true" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Whether the font uses ligatures. Default is true.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="LetterSpacing" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>Defines the spacing between individual letters.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>

                <xsd:element name="Leading" type="xsd:int">
                    <xsd:annotation>
                        <xsd:documentation>An integer specifying the vertical distance between baselines of text.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                
                <xsd:choice>
                    <xsd:element name="Monospace" type="nk:Monospace"/>
                    <xsd:element name="Variable" type="nk:Variable"/>
                </xsd:choice>

                <xsd:element name="Defaults" type="nk:Defaults" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Defines global properties that can be used as default in the font.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="Name">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:string">
                <xsd:pattern value="([\w._\-\s])+"/>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="Monospace">
        <xsd:all>
            <xsd:element name="LetterWidth" type="xsd:unsignedShort" />
            <xsd:element name="LetterHeight" type="xsd:unsignedShort" />
            <xsd:element name="AlignToGrid" type="xsd:boolean" minOccurs="0" default="false" />
        </xsd:all>
    </xsd:complexType>
    
    <xsd:complexType name="Variable">
        <xsd:all>
            <xsd:element name="Kerning" type="xsd:boolean" />
            <xsd:element name="WordSpacing" type="xsd:int" />
        </xsd:all>
    </xsd:complexType>
    
    <xsd:complexType name="Defaults">
        <xsd:all>
            <xsd:element name="Align" type="nk:Align" minOccurs="0" default="top">
                <xsd:annotation>
                    <xsd:documentation>Defines how the compound characters are aligned. The value is 'top' by default.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="Mask" type="nk:Mask" minOccurs="0" default="bckg">
                <xsd:annotation>
                    <xsd:documentation>Defines the masking strategy to differentiate the glyph from the background. The value is 'bckg' by default.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="AlignPointReplace" type="nk:AlignPointReplace" minOccurs="0" default="bckg">
                <xsd:annotation>
                    <xsd:documentation>Defines the strategy of replacing the alignment point in compound glyphs. The value is 'bckg' by default.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="AlignPointMarkers" minOccurs="0" default="">
                <xsd:annotation>
                    <xsd:documentation>Defines the default align point characters, that will be used if not specified by a component glyph.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    
</xsd:schema>